@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(254 215 170);
}

.dark-bg-body {
  background-color: rgb(25, 23, 23);
}

.dark-bg {
  background-color: rgb(31, 41, 55);
  color: white;
}

.light-bg {
  background-color: rgb(251 146 60);
  color: white;
}
